.container-fluid{
    width:auto;
    height:auto;
    background-color:#E8E8E8;
}
.tab{
    border-radius: 0%;
    box-shadow: none;
    background-color: #F5F5F5
}
.tab1{
    border-radius: 0%;
    box-shadow: none;
    background-color: #E8E8E8;
}
.round{
    background-color:#E8E8E8;
}
